@using Microsoft.AspNetCore.Mvc.Localization
@using UserNotifySignalRDemo.Localization
@inject IHtmlLocalizer<UserNotifySignalRDemoResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
