@using Microsoft.AspNetCore.Mvc.Localization
@using UserNotifySseDemo.Localization
@inject IHtmlLocalizer<UserNotifySseDemoResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
